.finished {
    text-align: center;
    margin: auto 0;
}

.finished p {
    color: hsl(231, 11%, 63%);
    font-size: 1.1rem;
    margin: 0 auto;
    line-height: 1.5;
    width: 90%;
}

@media (max-width: 590px) {
    .container {
        width: 90%;
        margin: -100px auto 0 ;
        font-size: small;
        padding: 0;
    }

    .finished {
        border-radius: 10px;
        padding: 0.5rem 1rem 1.5rem;
        background-color: #fff;
        margin-bottom: 5rem;
    }

    .actions {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0.75rem;
        background-color: #fff;
    }
} 