.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 0;
  height: 100%;
  /* height: auto; */
}

.information h1 {
  margin-bottom: 0.75rem;
}

.information p {
  color: hsl(231, 11%, 63%);
  font-size: 1.1rem;
  margin: 0;
}

.phone-input {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.phone-input-field:nth-child(2) {
  font: inherit;
  padding: 1.25rem 0.75rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid hsl(229, 24%, 87%);
  width: 100%;
  cursor: pointer;
}

.form {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form label {
  display: flex;
  margin-bottom: 0.75rem;
  color: #000;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.form label span {
  justify-self: flex-end;
  color: hsl(354, 84%, 57%);
  font-size: 0.85rem;
}

.form input {
  font: inherit;
  padding: 0.75rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid hsl(229, 24%, 87%);
  width: 100%;
  cursor: pointer;
}

.form input:active,
.form input:focus {
  cursor: text;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.next-btn {
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  justify-self: flex-end;
  margin-left: auto;
}

/* media queries */
@media (max-width: 590px) {
  .container {
    width: 90%;
    margin: -100px auto 0;
    font-size: small;
    padding: 0;
  }

  .information {
    border-radius: 10px;
    padding: 0.5rem 1rem 1.5rem;
    background-color: #fff;
    margin-bottom: 5rem;
  }

  .actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem;
    background-color: #fff;
  }
}
