.plan {
    border: 1px solid hsl(229, 24%, 87%);
    padding: 1.25rem;
    border-radius: 10px;
    cursor: pointer;
}

.selected {
    background-color: hsl(217, 100%, 97%);
    border-color: hsl(213, 96%, 18%);
}

.plan:hover {
    border-color: hsl(213, 96%, 18%);
}

.plan img {
    margin-bottom: 3rem;
}

.plan h3 {
    margin-bottom: 0.5rem;
}

.plan h5 {
    font-size: 0.85rem;
    margin: 0.6rem 0 0;
} 

@media (max-width: 590px) {
    .plan {
        display: flex;
        gap: 1rem;
        padding: 0.5rem;
        align-items: center;
    }
    
    .plan h3, .plan h5 {
        margin: 0;
    }

    .plan img {
        margin-bottom: 0;
    }

    .plan-description {
        display: flex;
        flex-direction: column;
        gap: 3px;
        /* justify-content: center; 
        align-items: center; */
    }

    .plan-description h5 {
        font-size: 0.95rem;
        font-weight: normal;
    }

    .plan-description p {
        font-size: 0.95rem;
    }
}